* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit; }

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit; }

button {
  background: none;
  cursor: pointer; }

input:focus,
button:focus {
  outline: none; }

ul,
li {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1.6875; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container__fluid {
    max-width: unset;
    width: 100%; }
  .container__no-padding {
    padding: 0; }

.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  background-color: #f78434;
  line-height: 58px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 29px;
  transition: background-color 0.2s ease-in; }
  .button:hover {
    background-color: #ff6a00; }

.button__white {
  background-color: #ffffff;
  color: #323232;
  transition: background-color 0.2s ease-in, color 0.2s ease-in; }
  .button__white:hover {
    color: #ffffff;
    background-color: #323232; }

.button__play {
  padding-left: 49px;
  position: relative; }
  .button__play::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/play.svg");
    background-size: initial;
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    left: 30px; }

.card-info {
  display: flex;
  align-items: center;
  padding: 32px 29px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  max-width: 300px;
  height: 141px; }

.card-info__icon {
  margin-right: 20px; }

.card-info__title {
  font-weight: 700; }

.clients {
  padding-top: 100px;
  padding-bottom: 45px; }

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__text {
  max-width: 467px; }

.header__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  margin-right: -160px;
  z-index: 1;
  position: relative; }

.header__subtitle {
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.15px;
  margin-bottom: 42px; }

.header__image {
  border-radius: 40px 40px 40px 0; }

.header__form {
  background: #ffffff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  transition: box-shadow 0.2s ease-in;
  display: flex;
  justify-content: space-between; }
  .header__form_active {
    box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27); }

.header__input {
  flex-grow: 1;
  margin-right: 10px; }
  .header__input::placeholder {
    color: #bbbbbb; }

.header__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  height: 100%;
  align-items: center;
  flex-grow: 1; }
  .header__label::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 28px;
    display: block;
    width: 24px;
    height: 19px;
    background-image: url("../../img/icons/mail.svg"); }

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1; }

.logo__image {
  margin-right: 15px; }

.nav {
  padding-top: 35px;
  padding-bottom: 33px; }

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__navigation-item {
  margin-right: 42px; }
  .nav__navigation-item:last-child {
    margin-right: 0; }

.nav__navigation-link:hover {
  color: #f78434; }
.nav__navigation-link_active {
  color: #f78434;
  font-weight: 700; }

.nav__navigation-list {
  display: flex; }

.objects {
  padding-top: 45px;
  padding-bottom: 80px; }

.objects__row {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; }
  @media (max-width: 1495px) {
    .objects__row {
      justify-content: flex-end; } }

.objects__images {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }

.objects__text {
  max-width: 374px;
  padding-left: 181px;
  padding-right: 150px;
  box-sizing: content-box;
  flex-shrink: 0; }

.objects__title {
  margin-bottom: 20px; }

.objects__subtitle {
  margin-top: 20px; }

.objects__button {
  margin-top: 40px; }

.image-card {
  margin-left: 32px;
  width: 385px;
  height: 550px;
  position: relative; }

.image-card__image {
  border-radius: 20px 20px 0 20px; }
  .image-card__image_rounded {
    border-radius: 20px; }

.image-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px; }

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px; }

.cta {
  padding-top: 74px;
  padding-bottom: 72px; }

.cta__block {
  background-color: #58bebf;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #ffffff; }

.cta__image-container {
  margin-top: 59px;
  padding-top: 25px;
  padding-right: 24px;
  background-color: #ffffff;
  border-radius: 0 21.6px 0 0; }

.cta__text {
  max-width: 555px;
  box-sizing: border-box;
  padding-left: 96px;
  padding-right: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/cta/oval-bottom.svg") bottom left -186px no-repeat, url("../img/cta/oval-top-right.svg") top right no-repeat; }

.cta__title {
  margin-bottom: 15px; }

.cta__subtitle {
  letter-spacing: 1.15px; }

.cta__buttons-row {
  margin-top: 30px;
  display: flex;
  column-gap: 20px; }

.serve {
  padding-top: 72px;
  padding-bottom: 113px;
  position: relative; }
  .serve::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f5f6fa;
    position: absolute;
    top: -45%;
    bottom: 50%;
    left: 0;
    z-index: -1; }

.serve__heading {
  margin-bottom: 45px;
  text-align: center; }

.serve__title {
  margin-bottom: 10px; }

.serve__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 30px; }

.card-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 88px 39px;
  background-color: #ffffff;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer; }
  .card-customer:hover {
    background-color: #f78434;
    color: #ffffff; }
    .card-customer:hover .button {
      background-color: #ffffff;
      color: #f78434; }
    .card-customer:hover .card-customer__icon {
      fill: #ffffff; }

.card-customer__title {
  padding-bottom: 1px; }

.card-customer__subtitle {
  margin-bottom: 25px; }

.card-customer__icon {
  fill: #f78434;
  transition: fill 0.2s ease-in;
  margin-bottom: 15px; }

.benefits {
  padding-bottom: 111px; }

.benefits__heading {
  padding-bottom: 58px;
  text-align: center; }

.benefits__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px; }

.benefits__item {
  text-align: center; }
  .benefits__item:hover circle {
    fill: #f78434; }
  .benefits__item:hover path,
  .benefits__item:hover ellipse {
    fill: #ffffff; }

.benefits__icon {
  margin-bottom: 15px;
  display: inline-block; }
  .benefits__icon circle {
    fill: rgba(88, 190, 191, 0.2);
    transition: fill 0.2s ease-in; }
  .benefits__icon path,
  .benefits__icon ellipse {
    fill: #58bebf;
    transition: fill 0.2s ease-in; }

.benefits__name {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px; }

.testimonials {
  padding-top: 60px;
  padding-bottom: 58px; }

.testimonials__heading {
  margin-bottom: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.testimonials__title {
  max-width: 454px; }

.testimonials__subtitle {
  max-width: 398px; }

.testimonials__row {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .testimonials__row::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: -40px;
    top: -40px;
    background-image: url("../img/testimonials/design-element.svg"); }

.card-testimonial {
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
  max-width: 350px;
  transition: box-shadow 0.2s ease-in; }
  .card-testimonial:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08); }
    .card-testimonial:hover .card-testimonial__city {
      color: #f78434; }
    .card-testimonial:hover .card-testimonial__btn-play {
      opacity: 1;
      transform: translateY(0%); }

.card-testimonial__image-wrapper {
  position: relative; }

.card-testimonial__btn-play {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateY(50%);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in; }

.card-testimonial__btn-play-img circle {
  fill: #ffffff;
  transition: fill 0.2s ease-in; }
.card-testimonial__btn-play-img path {
  fill: #f78434;
  transition: fill 0.2s ease-in; }
.card-testimonial__btn-play-img:hover circle {
  fill: #f78434; }
.card-testimonial__btn-play-img:hover path {
  fill: #ffffff; }

.card-testimonial__body {
  padding: 31px 29px;
  max-width: 308px; }

.card-testimonial__text {
  margin-bottom: 23px; }

.card-testimonial__name {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px; }

.card-testimonial__city {
  color: #58bebf;
  transition: color 0.2s ease-in; }

.contacts {
  position: relative;
  padding-top: 211px;
  padding-bottom: 55px;
  background-image: url("../img/contacts/bg-contacts.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }
  .contacts::before {
    content: '';
    display: block;
    width: 743px;
    height: 372px;
    background-image: url("../img/contacts/oval-contacts.svg");
    background-size: initial;
    position: absolute;
    bottom: -1;
    left: 50%; }
  .contacts::after {
    content: '';
    display: block;
    width: 478px;
    height: 547px;
    background-image: url("../img/contacts/girl.png");
    background-size: initial;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 79px; }

.contacts__info {
  max-width: 359px; }

.contacts__title {
  margin-bottom: 15px; }

.contacts__text {
  margin-bottom: 30px;
  max-width: 327px; }

/*# sourceMappingURL=main.css.map */
