.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__socials {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.footer__icon-image {
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 0.6;
  }
}

.footer__nav {
  display: flex;
  column-gap: 85px;
}

.footer__nav-block-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 18px;
}

.footer__nav-block-item {
  margin-bottom: 13px;
  font-size: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer__nav-blovk-link {
  transition: color 0.2s ease-in;
  &:hover {
    color: $accent-color-hover;
  }
}
