.benefits {
  padding-bottom: 111px;
}

.benefits__heading {
  padding-bottom: 58px;
  text-align: center;
}

.benefits__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
}

.benefits__item {
  text-align: center;

  &:hover {
    circle {
      fill: $accent-color;
    }

    path,
    ellipse {
      fill: $white-color;
    }
  }
}

.benefits__icon {
  margin-bottom: 15px;
  display: inline-block;

  circle {
    fill: rgba(88, 190, 191, 0.2);
    transition: fill 0.2s ease-in;
  }

  path,
  ellipse {
    fill: $light-blue-color;
    transition: fill 0.2s ease-in;
  }
}

.benefits__name {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}
