.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  background-color: $accent-color;
  line-height: 58px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 29px;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: $accent-color-hover;
  }
}

.button__white {
  background-color: #fff;
  color: $dark-color;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    color: #fff;
    background-color: $dark-color;
  }
}

.button__play {
  padding-left: 49px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-image: url('../img/icons/play.svg');
    background-size: initial;
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    left: 30px;
  }
}
