.card-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 88px 39px;
  background-color: $white-color;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $accent-color;
    color: $white-color;

    .button {
      background-color: $white-color;
      color: $accent-color;
    }

    .card-customer__icon {
      fill: $white-color;
    }
  }
}

.card-customer__title {
  padding-bottom: 1px;
}

.card-customer__subtitle {
  margin-bottom: 25px;
}

.card-customer__icon {
  fill: $accent-color;
  transition: fill 0.2s ease-in;
  margin-bottom: 15px;
}
