.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  max-width: 467px;
}

.header__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  margin-right: -160px;
  z-index: 1;
  position: relative;
}

.header__subtitle {
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.15px;
  margin-bottom: 42px;
}

.header__image {
  border-radius: 40px 40px 40px 0;
}

.header__form {
  background: #ffffff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  transition: box-shadow 0.2s ease-in;
  display: flex;
  justify-content: space-between;

  &_active {
    box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
  }
}

.header__input {
  flex-grow: 1;
  margin-right: 10px;
  &::placeholder {
    color: #bbbbbb;
  }
}

.header__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  height: 100%;
  align-items: center;
  flex-grow: 1;

  &::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 28px;
    display: block;
    width: 24px;
    height: 19px;
    background-image: url('../../img/icons/mail.svg');
  }
}
